{
  "root": true,
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],

  "rules": {
    "react/no-danger": "off",
    "react/react-in-jsx-scope": "off",
    "no-console": "error",
    "prettier/prettier": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/media-has-caption": [
      2,
      {
        "audio": ["Audio"],
        "video": ["Video"],
        "track": ["Track"]
      }
    ],
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      },
      "babel-module": {
        "extensions": [".js", ".jsx"],
        "alias": {
          "@/components": "./components",
          "@/styles": "./styles"
        }
      }
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  }
}
