.rippleButton {
  @apply text-lg inline-block;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 30px;
  padding: 17px 45px 15px 42px;
  position: relative;
  overflow: hidden;
}

.rippleButton::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgb(51, 121, 238);
  background: radial-gradient(
    circle,
    rgba(51, 121, 238, 1) 0%,
    rgba(36, 172, 255, 1) 100%
  );
  transition: width 0.5s, height 0.5s;
}

.rippleButton:hover::before {
  height: 400px;
  width: 400px;
}

.rippleButton > span {
  z-index: 1;
  position: relative;
}
