.gallerySection {
  @apply my-16 py-16 w-3/4 mx-auto;
  @apply lg:w-4/5 lg:my-12 lg:py-8;
  @apply md:my-8 md:mt-4 md:py-6;
  @apply sm:pt-0;
}

.gallerySection::-webkit-scrollbar {
  display: none;
}

.container {
  @apply grid grid-cols-2 auto-rows-[320px] gap-3;
  @apply xl:auto-rows-[250px];
}

.galleryItem {
  @apply w-full h-full relative;
}

.galleryItem .image {
  @apply w-full h-full overflow-hidden relative;
}

.galleryItem .image img {
  @apply w-full object-cover object-center cursor-pointer;
  transition: 0.5s ease-in-out;
}

.galleryItem:hover .image img {
  @apply scale-125;
}

.galleryItem .text {
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
  @apply opacity-0 absolute top-1/2 left-1/2 text-[#fff] z-[4] w-full p-5 text-2xl pointer-events-none;
}

.galleryItem:hover .text {
  transform: translate(-50%, -50%) scale(1);
  @apply opacity-100;
}

@media screen(sm) {
  .gallerySection {
    height: 100%;
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
  }

  .galleryItem {
    width: 100vw;
    height: 35vh;
  }

  .galleryItem:hover .text {
    @apply text-base;
  }
}
