.root {
  @apply z-[101];
}

.root ::-webkit-scrollbar {
  width: 0.5rem;
}

@media screen(md) {
  .root ::-webkit-scrollbar {
    display: none;
  }
}

/* Track */
.root ::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

/* Handle */
.root ::-webkit-scrollbar-thumb {
  background-color: rgb(74, 184, 253);
  border-radius: 0.3rem;
}

/* Handle on hover */
.root ::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 158, 255);
  cursor: pointer;
}

.backdrop,
.root {
  @apply fixed top-0 left-0 w-screen h-screen;
}

.backdrop {
  @apply bg-[rgba(0,0,0,.3)];
  transition: opacity 0.3s ease-out;
}

.content {
  height: 100%;
  width: 100%;
  max-height: calc(100vh - 8rem);
  max-width: calc(100vw - 20rem);
  @apply fixed top-16 left-40 scale-0 overflow-y-scroll bg-[#fff] p-16 rounded-lg;
  @apply lg:p-12 lg:rounded-md;
  @apply sm:p-8 sm:pt-12;
  transition: all 0.3s ease-out;
}

.content * {
  @apply text-primary;
}

.active {
  @apply scale-100;
}

.closeIcon {
  @apply fixed top-16 right-[10.5rem] bg-[#fd4f4f] p-2 rounded-bl-lg w-max h-max cursor-pointer;
  @apply xl:right-[7.5rem];
  @apply lg:right-[6.5rem] lg:rounded-bl-md;
  @apply md:top-12 md:right-24;
  @apply sm:right-12;
  @apply xs:top-6 xs:right-4 sm:p-1;
  transition: background-color 0.2s;
}

.closeIcon * {
  @apply text-primary-light;
}

.closeIcon:hover {
  @apply bg-[red];
}

@media screen(xl) {
  .content {
    max-width: calc(100vw - 14rem);
    @apply left-28;
  }
}

@media screen(lg) {
  .content {
    max-width: calc(100vw - 12rem);
    @apply left-24;
  }
}

@media screen(md) {
  .content {
    max-height: calc(100vh - 6rem);
    @apply top-12;
  }
}

@media screen(sm) {
  .content {
    max-width: calc(100vw - 6rem);
    @apply left-12;
  }
}

@media screen(xs) {
  .content {
    max-height: calc(100vh - 3rem);
    max-width: calc(100vw - 2rem);
    @apply top-6 left-4;
  }
}
