.wrapper {
  @apply mt-24 flex items-center justify-center flex-col;
}

.mouse {
  height: 35px;
  width: 3px;
  border: 2px solid rgb(255, 255, 255);
  @apply p-[1.7rem] px-[1.6rem] box-content flex justify-center mb-4 cursor-pointer rounded-full relative;
  @apply sm:p-[1.5rem] sm:px-[1.3rem] sm:h-[25px];
  transition: all 0.2s;
}

.mouse:hover {
  @apply border-blue;
  box-shadow: 0px 0px 14px 1px rgb(36 172 255);
}

.cursor {
  height: 14px;
  width: 4px;
  animation: scrollDown 2.1s infinite forwards;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  @apply rounded-full bg-primary-light absolute top-6;
  @apply sm:h-[12px] sm:w-[3px];
  transition: background-color 0.2s;
}

.mouse:hover .cursor {
  @apply bg-blue;
  animation: none;
}

@keyframes scrollDown {
  0% {
    @apply top-1/4 opacity-100;
  }
  100% {
    @apply top-1/2 opacity-0;
  }
}
