@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Overpass', sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #000;
}

a {
  text-decoration: none;
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

.flex-2 {
  flex: 0.5;
}
.flex-4 {
  flex: 0.25;
}

.fadeonscroll {
  transform: translateY(200px);
  transform-origin: 50% 100%;
  opacity: 0;
  transition: all 2s;
}

.fadeonscroll-h {
  transform: translateX(-100%);
  transform-origin: 50% 100%;
  opacity: 0;
  transition: all 2s;
}
.fadeonscroll-h.active {
  transform: none;
  opacity: 1;
}
.fadeonscroll.active {
  transform: none;
  opacity: 1;
}

@media (max-width: 450px) {
  .container-70 {
    width: 85%;
    margin: 0 auto;
  }
}

.no-shadow {
  box-shadow: none;
}

/* for navbar transition */

.fade-up {
  opacity: 0;
  visibility: hidden;
}

.accordion-title {
  border-bottom: 1px solid #bababa3d;
} 

/* .accordion-title > * {
  transition: color 0.2s;
} */

.accordion-title:focus,
.accordion-title:hover {
  outline: none;
  transition: border 0.28s;
}

/* .accordion-title:focus > *,
.accordion-title:hover > * {
  @apply text-blue fill-blue;
} */

.accordion-title > svg {
  transition: all 0.28s;
}

.active > .accordion-title {
  border-bottom-color: #ffff;
}

.active > .accordion-body {
  border: none;
}
